apiVersion: v1
kind: Secret
metadata:
  name: funnelbarn-secret
  namespace: funnelbarn-testing
type: Opaque
stringData:
  FUNNELBARN_API_KEY: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  FUNNELBARN_ADMIN_USERNAME: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  FUNNELBARN_ADMIN_PASSWORD_BCRYPT: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  FUNNELBARN_SESSION_SECRET: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  FUNNELBARN_SELF_ENDPOINT: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
  FUNNELBARN_SELF_API_KEY: REPLACE_WITH_SOPS_ENCRYPTED_VALUE
